*, ::after, ::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.resetBtn {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

#root {
  color: wheat;
  background: #4d4735;
  font-family: Georgia, serif;
}

.App {
  text-align: center;
  max-width: 90vw;
  margin: 0 auto;
  min-height: 100vh;
}

i, a {
  color: #fff;
}

a {
  text-decoration: none;
}

.modals {
  font-family: Georgia, serif;
}

#btnPlay {
  margin: 0.5em;
}

.btnToClick {
  padding: 0 15px;
  height: 2.3em;
  background: black;
  border: none;
  border-radius: 0.625em;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  color: wheat;
}
.btnToClick#replay {
  background: rgba(0, 0, 255, 0.5);
}
.btnToClick#replay:after {
  background: rgba(255, 0, 0, 0.5);
}
.btnToClick#backToHome:after {
  background: grey;
}
.btnToClick#btnSeeScores {
  background: #266041;
}
.btnToClick#btnSeeScores:after {
  background: rgba(255, 0, 0, 0.5);
}
.btnToClick#saveScore {
  background: rgb(172, 0, 0);
}
.btnToClick#saveScore:after {
  background: rgba(236, 182, 0, 0.5);
}
.btnToClick:after {
  content: "";
  background: #266041;
  position: absolute;
  z-index: -1;
  left: -22%;
  right: -22%;
  top: -2%;
  bottom: -2%;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s ease-in-out;
}
.btnToClick:hover:after {
  transform: skewX(-45deg) scale(1, 1);
}
.btnToClick:hover {
  color: white;
  transition: all 0.5s ease-in-out;
}

#btnKeepDice {
  font-size: 14px;
}

.die {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  min-width: 140px;
}

@media (max-width: 768px) {
  .die {
    font-size: 3rem;
  }
}
#diceRow {
  row-gap: 20px;
}

.game {
  display: flex;
  flex-direction: column;
}

.grey {
  opacity: 0.3;
}

.cursor-disabled {
  cursor: not-allowed;
}

/* style tableau score */
.score-table {
  border-collapse: collapse;
  color: white;
}
.score-table th, .score-table td {
  border: 1px solid #ddd;
  padding: 8px;
}
.score-table th {
  background-color: #4CAF50;
  color: white;
  text-align: center;
}

.section-header {
  background-color: #4CAF50;
  font-size: 1.5em;
  font-weight: bold;
}

.score {
  background-color: #5A5A5A;
  color: white;
  cursor: cell;
  transition: all 0.1s ease-in-out;
}
.score:hover {
  background-color: #4CAF50;
}

.subtotal, .total-section {
  font-weight: bold;
  text-align: center;
}

.bonus {
  font-weight: bold;
  color: yellow;
  text-align: center;
}

.textEndFirstGame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.btnBackHome:hover {
  opacity: 0.7;
}

.modal-title {
  font-size: 1.2em;
}

.bandeau {
  border: 2px solid #fff;
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
  background-color: #266041;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
}

@media (max-width: 768px) {
  #theScoreDate {
    font-size: 0.8em;
  }
}

/*# sourceMappingURL=App.css.map */
